*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
header{
    width: 100%;
    height: 80px;
    background-color:white;
    align-items: center;
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 40px 0 0;
    padding:0 0 0 20px;
}
/* header-left */
.header-left{
    /* width:(100%-6%); */
    display: flex;
    padding: 0 20px 0 20px;
}
.header-left i{
    font-size: 22px;
    color: #AD2B3F;
}
.header-left p{
    color:#283045;
    font-size:22px;
    font-weight:bold;
    margin:0 0 0 30px;
}
/* header-right */
.header-right{
    /* width: 6%; */
    background-color:#283045;
    padding:8px 9px;
    margin:0 30px;
    border-radius:4px;
    border:1px solid #8BC09E;
}
.header-right p{
    color:white;
    font-size:16px;
}
/* main-div  */
.main-div{
    display: flex;
    flex-grow:1;
}
.sidebar-div{
    height: 100vh;
}
/* sidebar  */
.side-bar{
    left: 0;
    height: 100vh;
    background-color: #283045;
    display: flex;
    flex-direction:column;
    padding:20px 0 0 0;
    width:240px;
}
.profile div{
    width: 100%;
    color:white;
}
.profile-pic{
    height:80px;
    width:80px;
    border-radius:90px;
}
.profile p{
    padding:10px;
    font-weight:bold;
    font-size:18px;
}
.side-bar i{
    font-size:15px;
}
.side-bar li{
    width:90%;
    text-align: center;
    padding:0 0 0 15px;
    list-style: none;
    display:flex;
    align-items: center;
    color: #818797;
}
.side-bar a{
    text-decoration: none;
    padding:18px 0 18px 10px;
    display: flex;
    width:100%;
    font-size:15px;
    color: #818797;
}
.side-bar li:hover{
    color: white;
}
.side-bar a:hover{
    color:#F8F8F8;
}
.profile-info{
    display:flex;
    flex-direction: column;
    background-color: #F8F8F8;
    padding:0 50px 30px 40px;
    width: 100% ;
}
.profile-div{
    display: flex;
    flex-direction: row;
    padding: 18px 0 0 0 ;
    width: 100%;
    font-size: 30px;
    text-align:center;
    color:#AD2B3F;
    height: auto;
}
.profile-div i{
    font-size:20px;
    padding:9px 15px 0 0;
}
/* form */
.form-section{
    margin:40px 0 0 15px;
    padding:0 0 0 20px;
    background-color: white;
}
.first-row{
    width: 100%;
    display: flex;
    align-items:center;
    padding:20px 0 10px 8px;
}
.first-row i{
    width:0;
    font-size:20px;
    color:#7B7B80;
    margin:10px 20px 10px 1px;
}
.first-row-text{
  font-size:20px;
  color:#7B7B80;
  margin:10px;
  font-weight:bold;
}
/* sec-row  */
.sec-row{
    display: flex;
    padding:20px 0 0 8px ;
}
.sec-row-text{
    font-size: 15px;
    font-weight:bold;
    color:#7A7972;
}
.date{
    font-size: 15px;
    padding:0 0 0 10px;
    color:#988D83;
}
/* user-detail */
.form tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:10px 0 10px 0;
}
/* table  */
table{
    width: 100%;
}
td{ 
    display: flex;
    justify-content: space-between;
    padding:10px 0 10px 8px; 
    margin:0 20px 0 0;
    width: 45%;
}
label{
    display: flex;
    align-items: center;
    font-size: 17px;
    color:#919587;
    font-weight: bold;
}
#state,input{
    height: 40px;
    width:360px;
    border: 2px solid #D0D0D0;
    color:#988D83;
    font-size: 17px;
    padding:10px;
    border-radius:5px;

}
textarea{
    height: 80px;
    width:360px;
    border: 2px solid #D0D0D0;
    color:#988D83;
    font-size: 17px;
    padding:12px;
    margin:30px 0 0 0;
    border-radius:5px;
}
.submit-input{
    color: white;
    background-color:#AD2B3F;
    border-radius:6px;
    font-size:15px;
    width: 80px;
    height: 45px;
    text-align: center;
    cursor: pointer;
}
/* footer  */
footer{
    display: flex;
    background-color: white;
    color:#283045;
    height: 50px;
    width: 100%;
    padding:20px 0 0 0;
    justify-content: flex-end;
    border: 1px solid #283045;
}
.copy-write{
    width: 60%;
    display: flex;
    justify-content: flex-start;
}
.footer-icon{
    height: 25px;
    width: 25px;
    display: flex;
    color:white;
    background-color: #283045;
    flex-direction: flex-end;
    border-radius:50px;
    justify-content: center;
    align-items: center;
    margin:0 20px 0 0;
    opacity: 0.6;
}
.footer-icon i{
    font-size:75%;
}

@media (min-width:1378px){
    .header-right i{
        display: none;
    }
}
/* Media query for desktop  */
@media (min-width:1117px) and (max-width:1378px){
    table{
        padding:0 10px 0 10px;
    }
    .form tr{
        display:flex;
        flex-direction:column;
        padding: 0 0 0 10px;
        box-sizing: border-box;
    }
    .header-right i{
        display: none;
    }
    td {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 10px 0;
        margin: 0 20px 0 0;
        width: 100%;
    }
} 
/* Media query  for tablets */
@media (min-width:768px) and (max-width:1116px){
.side-bar{
    display:none;
}
table{
    padding:0 10px 0 7px;
}
.form tr{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    padding:0;
}
td{ 
    width: 100%;
    padding:10px 10px 10px 10px;
}
.header-right i{
    display: none;
}
input,#state{
    width: 70%;
    height: 40px;
}
textarea{
    width: 70%;
    height: 50%;
}
} 
/* sidebar for phones  */
 @media(max-width:768px){
    .side-bar{
        left: 0;
        position: absolute;
        opacity: 1;
        height: 100vh;
    }
    .sidebar-div{
        height: 100vh;
    }
} 
/* Media query  for phones  412px to 768px*/
@media (min-width:412px) and (max-width:768px){
    .side-bar{
        display: none;
    }

    .sidebar-div{
        height: 100%;
    }
    .header-left i{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size:18px;
    }
    .header-left p{
        font-size:18px;
    }
    .header-right p{
        display: none;
    }
    .header-right {
        color: white;
        font-size: 10px;
        border-radius: 12px;
        width: 34px;
        height: 29px;
    }
    .profile-div{
        font-size: 25px;
        align-items: center;
    }
    .profile-div i{
        font-size:15px;
        padding:7px ;
    }
    .form tr{
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        width: 100%;
        padding:5px 10px 5px 5px;
        margin:0;
    }
    td{ 
        width: 100%;
        display: flex;
        flex-direction:column;
    }
    input,#state,textarea{
        width: 100%;
    }
    label{
        width: 100px;
        padding:0 0 5px 0;
    }
    .first-row{
        padding:0;
    }
    .sec-row{
        padding:0;
        margin:0;
    }
    /* footer */
     footer{
        padding: 10px 0 0 0;
    }
    .copy-write{
        font-size:19px;
        width: 70%;
    }
    }  
    /* Media query  for phones 280px to 411px */
 @media (max-width:412px){
    .header-left i{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size:15px;
    }
    .header-left p{
        font-size:12px;
    }
    .header-right p{
        display: none;
    }
    .header-right {
        color: white;
        font-size: 10px;
        border-radius: 12px;
        width: 34px;
        height: 29px;
    }
    .side-bar{
        display:none;
    }
    .form-section{
        margin: 40px 0 0 15px
    }
    .form tr{
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        width: 100%;
        padding: 0 10px 0 5px;
        margin:0;
    }
    td{ 
        width: 100%;
        display: flex;
        flex-direction:column;
    }
    input,#state{
        width: 70%;
        font-size: 12px;
        height: 12px;
    }
    textarea{
        width: 70%;
        font-size: 12px;
        height: 50%;
    }
    label {
        width: 100px;
        font-size: 12px;
        margin: 0 0 5px 0;
    }
    .submit-input {
        width: 61px;
        height: 33px;
    }
    .first-row {
        padding:0;
        font-size: 12px;
    }
    .first-row-text{
        font-size: 14px;
    }
    .first-row i{
        font-size: 15px;
    }
    .sec-row{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding:0;
        margin:0;
    }
    .sec-row-text{
        font-size:12px;
    }
    .date {
        font-size:12px;
        padding: 5px 0 0 0;
    }
    .profile-div{
        font-size: 20px;
        align-items: center;
    }
    .profile-div i{
        font-size:15px;
        padding:7px ;
    }
    .submit-input{
        font-size:10px;
        width: 55px;
        height: 42px;
    } */
    /* footer */
    footer{
        padding: 10px 0 0 0;
    }
    .copy-write{
        font-size:13px;
        padding:5px 0 0 0;
        width: 70%;
    }
    .footer-icon {
        height: 25px;
        margin: 0 20px 10px 0;
    }
  }  


